.env
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.venv/
coverage.xml
htmlcov/
storage/files/*
storage/index/*
storage/logs/*
tmp*/
.vscode/
.idea/
*.log
*.sqlite3
.DS_Store
Thumbs.db
desktop.ini
